/*Qitu ja nis kodi qe duhet me copy paste n qdo page*/

:root {
  --colorbackground: #fffbf1;
  --colorgray: #c4c6bb;
  --colororange: #ffb800;
  --colorblack: #0d0d0d;
  --colorgreen: #595f39;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.hover {
  position: relative;
  z-index: 2;
}
.hover:hover {
  cursor: pointer;
  bottom: 2px;
}

body {
  overflow-x: hidden;
  margin: 0;
  background-color: #fffbf1;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  display: inline;
}

footer a:hover {
  color: var(--colororange);
}

a:hover {
  position: relative;
  bottom: 2px;
}

button:hover {
  position: relative;
  bottom: 3px;
  cursor: pointer;
}

.kliko-per-me-shume a:hover {
  box-shadow: -5px 5px 5px 1px #0d0d0d78;
}

#header-opacity {
  background-image: linear-gradient(
    to bottom,
    transparent 30%,
    var(--colorblack) 50% 100%
  );
  opacity: 0.7;
  width: 100%;
  height: 583px;
  position: absolute;
}

#nav-bar-head {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  border-radius: 6px;
  margin: 40px;
  width: 90%;
  height: 83px;
  margin-left: 5%;
  position: fixed;
  z-index: 2;
  display: flex;
}

#phone-dropdown {
  position: absolute;

  top: 120px;
  left: 20px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

#logo-section {
  display: flex;
  align-items: center;
}

.text-header img {
  scale: 0.23;
  position: absolute;
}

#titulli-head1 {
  top: -20px;
  left: -480px;
}

#titulli-head2 {
  top: 10px;
  left: -305px;
}

#logo-header {
  width: 95px;
  height: 80px;
  margin-left: 20px;
  margin-top: 0px;
  padding: 10px;
  margin-right: 10px;
}

#nav-section {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 130px;
  color: var(--colorbackground);
}

#nav-section ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-left: 50px;
}

#nav-section ul li {
  font-size: 18px;
  margin: 20px;
  font-weight: 250;
  letter-spacing: 0.5px;
}

#dropdown {
  position: absolute;
  display: none;
}

a {
  color: var(--colorbackground);
  text-decoration: none;
}

#opacity-top {
  width: 100%;
  height: 350px;
  background-image: linear-gradient(
    to bottom,
    var(--colorblack) 30%,
    transparent 100%
  );
  opacity: 0.7;
  position: absolute;
  top: -50px;
  z-index: -1;
}

/* qitu ja nis footerii*/
footer {
  background: var(--colorblack);
  width: 100%;
  height: 350px;
  position: absolute;
  top: 1375px;
  color: var(--colorbackground);
  display: flex;
}

footer > #footer-1 {
  width: 60%;
  height: 100%;

  padding: 70px;
}

footer > #footer-1 > h1 {
  margin-bottom: 40px;
  border-right: 1px solid var(--colorbackground);
  padding: 10px;
  padding-left: 0px;
}

footer > #footer-1 > a {
  font-size: 20px;
  font-weight: 100;
  display: flex;
  margin-top: 20px;
  align-items: center;
}

footer > #footer-1 > a > i {
  font-size: 25px;
  margin-right: 20px;
}

footer > #footer-1 > p {
  font-weight: 100;
  margin-right: 20px;
  margin-top: 70px;
}

footer > #footer-2 {
  width: 50%;
  padding: 70px;
  height: 100%;
}

footer > #footer-2 > h1 {
  margin-bottom: 40px;
  padding: 10px;
  padding-left: 0px;
}

footer > #footer-2 > a {
  font-size: 20px;
  font-weight: 100;
  display: flex;
  margin-top: 20px;
  align-items: center;
}

footer > #footer-2 > a > i {
  font-size: 25px;
  margin-right: 20px;
}

footer > #footer-2 > p {
  font-weight: 100;
  margin-right: 20px;
  margin-top: 70px;
}

.krejt-kontakti {
  margin-top: 125px;
}

.contact-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 673px;
  height: 847px;
  margin-left: 190px;
  margin-top: 348px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  position: relative;
}

.second-container {
  height: 847px;
  width: 455px;
  background-color: #fffbf1;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: 860px;
  top: 348px;
  position: absolute;
  border: 1px solid black;
  align-items: center;
}

.black-name {
  margin-top: 300px;
}

.black-name p {
  color: black;
  font-size: 24px;
  font-weight: 400;
}

.yellow-name {
  display: flex;
  align-items: center;
  margin-top: 1px;
}

.yellow-name p {
  color: #ffb800;
  font-size: 40px;
  font-weight: 400;
}

.mail-p {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.mail-p p {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
}

.mail-p svg {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  margin-top: 1px;
}

.icons a i {
  color: black;
  font-size: 45px;
  padding-top: 90px;
  letter-spacing: 40px;
  padding-left: 3px;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 500px;

  position: relative;
}

.hr-line hr {
  border-color: #ffb800;
  height: 1px;
  width: 69%;
  margin-left: 105px;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 600px;
  border-radius: 10px;
}

.contact-container h2 {
  justify-content: center;
  text-align: center;
  width: 236px;
  height: 35px;
  margin-left: 92px;
  margin-top: 45px;
  color: white;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 0.2px;
  font-weight: 20px;
  font-style: normal;
}

.contact-container h3 {
  color: white;
  justify-content: center;
  text-align: left;
  font-weight: 250;
  margin-top: 10px;
  margin-left: 110px;
  width: 500px;
  height: 48px;
  font-weight: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

.contact-container p {
  margin-top: 4px;
  color: white;
  justify-content: left;
  margin-left: 110px;
  margin-right: 107px;
  font-size: 12.66px;
  font-weight: 200;
  color: white;
  text-align: justify;
  height: 40px;
}

form input {
  margin-top: 50px;
  border: 0;
  padding: 5.5px;
  background-color: black;
  outline: none;
  font-size: 14px;
  position: relative;
}

.contact-container form input::placeholder {
  margin-top: 1000px;
  color: #c4c6bb;
  opacity: 70%;
  font-weight: 300;
  font-size: 18;
  font-family: "Montserrat", sans-serif;
}

form textarea {
  border: 1px solid #ffb800;
  background-color: black;
  color: #c4c6bb;
  margin-top: 70px;
}

form textarea::placeholder {
  padding-left: 6px;
  padding-top: 6px;
  color: #c4c6bb;
  opacity: 70%;
  font-weight: 300;
  font-size: 18;
  font-family: "Montserrat", sans-serif;
}

button {
  height: 40px;
  margin-top: 30px;
  width: 200px;
  margin-left: 270px;
  display: block;
  background: none;
  padding: none;
  border: none;
}

.form-container hr {
  margin-bottom: -10px;
  border-color: #ffb800;
  width: 100%;
}

.form-container .error-text,
.form-container .error-text-email,
.form-container .error-text-number,
.form-container .error-text-pytja,
.form-container .error-text-message {
  font-size: 14.5px;
  color: red;
  text-align: right;
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

.form-container .error-text-email {
  bottom: 360px;
  right: 110px;
}

.form-container .error-text-number {
  right: 110px;
  bottom: 290px;
}

.form-container .error-text-pytja {
  bottom: 220px;
  right: 110px;
}

.form-container .error-text-message {
  right: 110px;
  bottom: 20px;
}

.form-container .error-text {
  bottom: 430px;
  right: 110px;
}

.contact-container form input,
form textarea {
  color: white;
}

.kliko-per-me-shume {
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 50px;
  letter-spacing: 1px;
  position: relative;
  left: -50px;
}

.kliko-per-me-shume span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--colororange);
  color: var(--colorblack);
  width: 200px;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 250;
  text-align: center;
}

 .kliko-per-me-shume {
     display: flex;
     padding-right: 100px;
 }

.kliko-per-me-shume i {
  margin-left: 10px;
  font-size: 20px;
  color: var(--colorblack);
}

.background-layer {
  position: absolute;
  top: 315px;
  left: 160px;
  width: 1200px;
  height: 840px;
  background-color: #ffb800;
  z-index: -1;
  border-radius: 25px;
}

@media (max-width: 767px) {
  body {
    background-color: black;
    overflow-x: hidden;
  }

  #nav-bar-head {
    opacity: 1;
    width: 100%;
    margin-left: 0;
    height: 110px;
    position: fixed;
    z-index: 3;
    top: -40px;
  }
  #logo-header {
    width: 80px;
    height: auto;
    margin-left: 5px;
    position: absolute;
    top: 10px;
    left: 160px;
  }

  .text-header img {
    scale: 0.15;
    position: absolute;
  }

  #titulli-head1 {
    top: 25px;
    left: -580px;
  }

  #titulli-head2 {
    top: 50px;
    left: -355px;
  }

  .nav-item {
    display: none;
    font-size: 10px;
    margin-right: -30px;
    position: relative;
    left: -30px;
    top: 40px;
    z-index: 2;
  }

  #phone-dropdown {
    position: absolute;
    width: 100px;
    height: 105px;
    top: 120px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    border-radius: 6px;
  }

  #dropdown-btn {
    background-color: transparent;
    color: white;
    box-shadow: none;
    border: none;
    font-size: 20px;
    position: absolute;
    top: -45px;
    left: -350px;
  }

  #phone-dropdown ul {
    text-decoration: none;
    list-style: none;
    margin-left: 5px;
  }

  .drop-item {
    font-size: 10px;
    font-weight: 200;
    margin-bottom: 5px;
  }
  #lang-btn > .nav-item {
    display: block;
  }

  #lang-btn {
    display: block;
  }

  #dropdown {
    position: absolute;
    display: block;
    left: -135px;
    top: 60px;
  }

  #albania {
    position: absolute;
    top: 80px;
    left: 200px;
    font-size: 12px;
  }

  #english {
    position: absolute;
    top: 80px;
    left: 230px;
    font-size: 12px;
  }

  .nav-right a {
    left: -50px;
  }

  footer {
    height: 150px;
    top: 2550px;

    overflow: hidden;
    display: flex;
  }

  footer h1 {
    font-size: 9px;
    width: 100%;
    position: relative;
    top: -40px;
    left: 30px;
  }

  footer > #footer-1 > h1 {
    width: 185px;
  }

  footer > #footer-2 > h1 {
    position: relative;
    left: 10px;
  }

  #icon1 {
    position: relative;
    left: 60px;
    top: -70px;
  }

  #icon2 {
    position: relative;
    top: -115px;
    left: 110px;
  }

  #icon3 {
    position: relative;
    left: 20px;
    top: -70px;
  }

  #icon4 {
    position: relative;
    top: -115px;
    left: 80px;
  }

  footer > #footer-2 > h1 {
    width: 200px;
  }

  #copy {
    position: relative;
    text-align: center;
    font-size: 10px;
    left: 50%;
    top: -170px;
    width: 300px;
  }

  #footer-1 {
    position: relative;
    left: -75px;
    top: -10px;
    width: 200px;
  }

  #footer-2 {
    position: absolute;
    width: 250px;
    top: -10px;
    right: 30px;
  }

  footer > #footer-1 a {
    font-size: 14px;
  }

  footer > #footer-2 a {
    font-size: 14px;
  }

  /*qitu maron css responsive per nav qdo faqe*/

  .contact-container {
    width: 360px;
    position: absolute;
    top: -200px;
    left: -180px;
  }

  .background-layer {
    width: 400px;
    position: absolute;
    top: 50px;
    left: -400px;
  }

  .item {
    margin-top: 150px;
  }

  .item {
    font-size: 15px;
  }

  .text-container {
    width: 405px;
    position: relative;
    left: -50px;
    margin-bottom: 50px;
  }

  .text-container p {
    font-size: 16px;
    width: 250px;
  }

  .text-container h3 {
    width: 250px;
    margin-bottom: 50px;
  }
  #na-kontaktoni {
    position: relative;
    left: -30px;
    font-size: 30px;
    text-align: left;
  }

  .hr-line {
    position: relative;
    top: 10px;
    left: -50px;
    margin-bottom: 10px;
  }

  #submit {
    position: relative;
    right: 220px;
  }

  .second-container {
    scale: 0.95;
    border-radius: 0;
    position: absolute;
    top: 1650px;
    left: -900px;
    background-color: white;
  }

  .icons {
    margin-left: 50px;
  }

  .form-container .error-text,
  .form-container .error-text-email,
  .form-container .error-text-number,
  .form-container .error-text-pytja {
    position: relative;
    top: 40px;
    left: 0px;
  }

  .form-container .error-text-number {
    left: 0px;
  }

  .form-container .error-text-message {
    position: relative;
    top: -30px;
    left: -5px;
  }
}
